.section2{
    background-color: rgba(12, 12, 12, 0.945);
    width: 100%;
    .best{
        text-align: center;
        color: #c21111;
        font-weight: bold;
        font-family: 'Luckiest Guy', cursive;
        font-size: 35px;
    }
    img{
        width: 350px;
    }
    .text{
        text-align: center;
        .title{
            color: rgb(190, 13, 13);
            font-weight: bold;
            font-family: 'Luckiest Guy', cursive;
            font-size: 20px;
        }
        .star{
            color: #eacf4f;
        }
        .price{
            font-weight: bold;
            color: #200cd3;
        }
        button{
            color: rgb(255, 255, 255);
            font-weight: bold;
            border: none;
            background-color: #09128d;
            border-radius: 30px;
            margin-right: 10px;
            transition: 0.5s;
            &:hover{
                background-color: #dba1a3;
                color: black;
            }
        }
    }
    .all1{
        text-decoration: none !important;
        color: black;
        font-weight: bold;
    }
    .all{
        width: 150px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-weight: bold;
        transition: 0.5s;
        cursor: pointer;
        &:hover{
            border-top: 1px solid #e81922;
            border-bottom: 1px solid #e81922;
            color: #e81922;
        }
    }
}